<%- include ('./partials/header') %>

<div class="guard-list-container position-relative">

  <a class="btn btn-primary position-absolute" href="/guards/new" role="button" id="add-new-guard">Add New Guard</a>
  <h2 class="mb-3">List of Guards</h2>

  <div class="border p-4">
    <% guards.forEach(guard => { %>
    <div class="media">
      <img src="<%= guard.guard_photo %>" class="mr-3" alt="Guard Avatar">
      <div class="media-body">
        <p><b>Name: </b><%= guard.guard_name %> </p>
        <p><b>Phone: </b><%= guard.phone_number %></p>
        <a class="btn btn-primary btn-sm" href="/guards/<%= guard._id %>" role="button">View Details</a>
      </div>
    </div>
    <hr class="my-3">
    <% }) %>
  </div>

  <nav aria-label="Page navigation" class="d-inline-block position-absolute" id="pagination">
    <ul class="pagination mb-0">
      <li class="page-item"><a class="page-link" href="#">Prev</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

</div>

<%- include ('./partials/footer') %>