<%- include ('./partials/header') %>

<div id="profile" class="mb-5 py-5 shadow-sm">
  <h2 class="text-center mb-5">Guard's Data</h2>

  <div class="details-wrapper">
    <h3 class="mb-3">Personal Details</h3>
    <div class="d-flex justify-content-around">
      <div class="details">
        <p><b>Guard Name: </b><%= guard.guard_name %></p>
        <p><b>Phone Number: </b><%= guard.phone_number %></p>
        <p><b>Date of Birth: </b><%= guard.date_of_birth %></p>
        <p><b>State of Origin: </b><%= guard.state_of_origin %></p>
        <p><b>Permanent Home Address: </b><%= guard.permanent_home_address %></p>
        <p><b>Present Home Address: </b><%= guard.present_home_address %></p>
        <p><b>Next of Kin: </b><%= guard.next_of_kin %></p>
        <p><b>Phone Number of Next of Kin: </b><%= guard.next_of_kin_phone_number %></p>
        <p><b>Beat: </b><%= guard.beat %></p>
        <p><b>Date of Deployment: </b><%= guard.date_of_deployment %></p>
        <p><b>Post: </b><%= guard.post %></p>
      </div>

      <!-- /guards/<%= guard._id %>"  -->
      <div class="upload-photo">
        <img src="<%= guard.guard_photo %>" alt="Guard Avatar" class="img-fluid rounded">
        <form action="/avatar/<%= guard._id %>/avatar" method="POST" enctype="multipart/form-data" class="mt-2">
          <div class="form-group">
            <label for="guardAvatar">Choose an image file to upload</label>
            <input type="file" name="guardAvatar" accept="image/*" class="form-control-file" id="guardAvatar">
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Upload</button>
        </form>
      </div>
    </div>
  </div>

  <div class="details-wrapper">
    <h3 class="mt-5 mb-3">Guarantor One Details</h3>
    <div class="d-flex justify-content-around">
      <div class="details">
        <p><b>Name: </b><%= guard.guarantors[0].name %></p>
        <p><b>Phone Number: </b><%= guard.guarantors[0].phone_contact %></p>
        <p><b>Occupation: </b><%= guard.guarantors[0].occupation %></p>
        <p><b>Home Address: </b><%= guard.guarantors[0].home_address %></p>
        <p><b>Office Address: </b><%= guard.guarantors[0].office_address %></p>
      </div>

      <div class="upload-photo">
        <img src="<%= guard.guarantors[0].photo %>" alt="Guarantor One Avatar" class="img-fluid rounded">
        <form action="/avatar/<%= guard._id %>/avatarone" method="POST" enctype="multipart/form-data" class="mt-2">
          <div class="form-group">
            <label for="guarantorOneAvatar">Choose an image file to upload</label>
            <input type="file" name="guarantorOneAvatar" accept="image/*" class="form-control-file" id="guarantorOneAvatar">
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Upload</button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="details-wrapper">
    <h3 class="mt-5 mb-3">Guarantor Two Details</h3>
    <div class="d-flex justify-content-around">
      <div class="details">
        <p><b>Name: </b><%= guard.guarantors[1].name %></p>
        <p><b>Phone Number: </b><%= guard.guarantors[1].phone_contact %></p>
        <p><b>Occupation: </b><%= guard.guarantors[1].occupation %></p>
        <p><b>Home Address: </b><%= guard.guarantors[1].home_address %></p>
        <p><b>Office Address: </b><%= guard.guarantors[1].office_address %></p>
      </div>

      <div class="upload-photo">
        <img src="<%= guard.guarantors[1].photo %>" alt="Guarantor Two Avatar" class="img-fluid rounded">
        <form action="/avatar/<%= guard._id %>/avatartwo" method="POST" enctype="multipart/form-data" class="mt-2">
          <div class="form-group">
            <label for="guarantorTwoAvatar">Choose an image file to upload</label>
            <input type="file" name="guarantorTwoAvatar" accept="image/*" class="form-control-file" id="guarantorTwoAvatar">
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Upload</button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="text-center mt-5">
    <a class="btn btn-primary" href="/guards/<%= guard._id %>/edit" role="button">Edit Details</a>

    <form id="delete" action="/guards/<%= guard._id %>?_method=DELETE" method="POST" class="ml-3">
      <button type="submit" class="btn btn-danger">Delete Data</button>
    </form>
  </div>
  <a class="ml-5" href="/guards">Back</a>
</div>

<%- include ('./partials/footer') %>